############################
# Python: Cache und Build
############################

__pycache__/
*.py[cod]
*.so
*.dylib
*.pyd

# Distribution / Packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

############################
# Visual Studio: IDE & Build
############################

# User-spezifische Dateien
*.user
*.suo
*.userosscache
*.sln.docstates

# Datenbank- und Indexdateien
*.VC.db
*.VC.opendb

# Build-Ordner
bin/
obj/
[Bb]uild/
[Bb]uilds/

# Projekt- und Lösungs-Backupdateien
*.bak
*.old
*.orig

# Visual Studio temporäre Verzeichnisse
.vs/

############################
# Visual Studio Code
############################

.vscode/
*.code-workspace

############################
# JetBrains IDEs (z. B. PyCharm)
############################

.idea/

############################
# Blender: Backup-Dateien
############################

*.blend1
*.blend2
*.blend@
*.blend~

############################
# Betriebssystem-spezifische Dateien
############################

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

############################
# Logs, temporäre Dateien
############################

*.log
*.tmp
*.temp
